html {
	 height: 100%;
}
 body {
	 background: #c8fde9;
	 height: 100%;
	 display: flex;
	 align-items: center;
	 font-family: 'Gemunu Libre', sans-serif;
}
 body > div {
	 width: 40rem;
	 margin-left: auto;
	 margin-right: auto;
}
 body > div > div:first-child {
	 width: 100%;
	 min-height: 120px;
	 background: #575757;
	 display: flex;
	 align-content: center;
}
 body > div > div:first-child p {
	 font-size: 65px;
	 text-align: right;
	 width: 100%;
	 color: #d6d6d6;
	 margin: 0;
	 display: flex;
	 justify-content: right;
	 align-self: center;
}
 body > div > div:first-child.first :not(p:first-child) {
	 display: none;
}
 body > div > div:first-child.second :not(p:nth-child(2)) {
	 display: none;
}
 body > div > div:first-child.result :not(p:last-child) {
	 display: none;
}
 body > div > div:nth-child(2) {
	 width: 100%;
	 height: 350px;
}
 body > div > div:nth-child(2) > div {
	 width: 100%;
	 display: flex;
	 height: 70px;
}
 body > div > div:nth-child(2) > div > div {
	 width: 25%;
	 height: 100%;
	 background: #e6e6e6;
	 display: flex;
	 align-items: center;
	 justify-content: center;
	 border: solid #a8a6a6 1px;
	 border-left: 0px;
	 font-size: 20px;
	 cursor: pointer;
}
 body > div > div:nth-child(2) > div > div:first-child {
	 border-left: solid #a8a6a6 1px;
}
 body > div > div:nth-child(2) > div:first-child > div {
	 border: solid #959595 1px;
	 background: #adadad;
}
 body > div > div:nth-child(2) > div:first-child > div:first-child {
	 border-left: solid #959595 1px;
}
 body > div > div:nth-child(2) > div:last-child > div:last-child {
	 background: #ff984c;
}
 